.product-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px; 
}

.product-item {
    display: flex;
}

.product-item p {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#item{
    justify-content: start;
    margin-left: 65px;
}